langchain
langchain-community
langchain_openai
tiktoken
chromadb
pdfminer.six
InstructorEmbedding
sentence-transformers
faiss-cpu
huggingface_hub
transformers
protobuf!==3.20.2
auto-gptq
docx2txt
unstructured
unstructured[pdf]


openai
urllib3
accelerate
bitsandbytes ; sys_platform != 'win32'
bitsandbytes-windows ; sys_platform == 'win32'
click

requests
openpyxl

streamlit-extras==0.3.6
streamlit


torch
torchvision
torchaudio


